* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}
body {
    background-color: #222;
    width: 100%;
}
.header {
    background-color: #222;
    border-top: 3px solid;
    border-top-color: #3a3a3a;
    border-bottom: 3px solid;
    border-bottom-color: #3a3a3a;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.menu {
    float: right;
    list-style: none;
}
.menu>li {
    display: inline-block;
    float: left;
    font-size: 20px;
    position: relative;
    padding: 12px 15px;
}
.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.menu li:hover {
    background-color: #3a3a3a;
    transition-duration: 0.3s;
    cursor: pointer;
}
.content {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}
.content > div {
    flex-grow: 1;
    min-width: 0;
}
.tabs-block {
    max-width: 65%;
}
.tabs-header {
    height: 48px;
    width: 100%;
    display: flex;
    margin-top: 100px;
    background-color: #3a3a3a;
    border-bottom: solid 3px;
    border-bottom-color: #e64242;
}
@media only screen and (max-width: 1555px) {
    .tabs-header {
        width: 500px;
    }
    #search-field-block {
        width: 500px;
    }
}
.tabs {
    clear: both;
    background-color: #e64242;
    color: white;
    text-transform: uppercase;
    width: 170px;
    height: 48px;
    text-align: center;
    list-style: none;
}
.tabs li {
    padding-top: 10px;
}
.tab-content {
    width: 100%;
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;

}
.preview-block {
    background-color: #3a3a3a;
    float: left;
    max-height: 240px;
    position: relative;
    width: 500px;
    margin-bottom: 20px;
}
.preview-img {
    float: left;
    width: 170px;
    height: 240px;
    position: relative;
}
.preview-info-block {
    padding: 10px 10px 0;
    max-height: 240px;
    overflow: auto;
}
.content-main-info {
    line-height: 26px;
    color: white;
    margin-top: 5px;
}
.preview-title {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.preview-title:hover {
    color: #e64242;
    transition-duration: 0.3s;
    cursor: pointer;
}
.categories-list span {
    font-weight: 600;
    float: left;
}
.categories-list ul {
    list-style: none;
    float: left;
}
.categories-list li {
    float: left;
    margin-left: 5px;
    color: #e64242;
}
.ageRestr span {
    font-weight: 600;
    float: left;
    margin-right: 5px;
}
.rating-info {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    -webkit-box-align: center;
}
.main-rating {
    color: white;
    background-color: #ffbb00;
    padding: 0px 5px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 19px;
}
.main-rating, .main-rating-info {
    display: inline-block;
    vertical-align: middle;
}
.main-rating-info {
    line-height: 1.3;
    margin-left: 5px;
    color: white;
    font-size: 14px;
}
#pagination-block {
    width: 100%;
    height: 30px;
    background-color: #3a3a3a;
    margin-bottom: 20px;
    text-align: center;
}
#pagination-block > a {
    background-color: transparent;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}
#pagination-block > a:hover:not(.active-page) {
    background-color: #222;
    transition-duration: 0.3s;
    cursor: pointer;
}
.active-page {
    background-color: #3cce7b;
}
#search-field-block {
    height: 50px;
    width: 65%;
    margin-top: 40px;
    float: right;
}
.search-field {
    max-width: 65%;
    min-width: 500px;
    height: 100%;
    margin: auto;
    background-color: #333;
    color: white;
    font-size: 18px;
}
#filter-block {
    max-width: 300px;
    height: 500px;
    background-color: #222;
    margin-left: 90px;
    border: solid 3px #e64242;
}
#filter-block label {
    color: white;
    float: left;
    margin-right: 10px;
}
#filter-block input[type=submit] {
    background-color: #333;
    color: white;
    font-size: 16px;
    width: 200px;
    margin-top: 10px;
}
.filter-section {
    display: flex;
    flex-direction: column;
}